<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DLExtractor</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<h1>hello2</h1>
    {% if active %}
        <div>
            <img src = "{{ url_for('video') }}" width="50%"/>
        </div>
    {% endif %}

    <form action="/extract" method="post">
        {% if active %}
            <button name="button" type="submit" class="button">Take Picture</button>

        {% else %}
            <button name="button" type="submit" class="button">Click here to scan DL</button>
        {% endif %}

    </form>

</body>
</html>